*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
header{
  width: 100%;
  min-height: 7vh;
  background-color: #36405e;
  position: fixed;
}

#accueil{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image:linear-gradient(to bottom, rgba(104,240,254,0),
  rgba(0, 0, 0, 0.8)),url(/bg.png) ;
  background-size: cover;
  display: flex;
}
header{
  width: 100%;
  min-height: 7vh;
}
nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  
}
h2{
  color: white;
  padding: 7px;
  cursor: pointer;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #36405e;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #36405e;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}




#chpt1{
  width: 100%;
  min-height: 100vh;
  display: flex;

}
.chpt1 img{
  margin-top: 11.5rem;
  border-radius: 3rem;
  
}
#chpt2{
  width: 100%;
  min-height: 100vh;
  display: flex;
}
#chpt3{
  width: 100%;
  min-height: 100vh;display: flex;
}
#chpt4{
  width: 100%;
  min-height: 100vh;display: flex;
}
#chpt5{
  width: 100%;
  min-height: 100vh;display: flex;
}
#chpt6{
  width: 100%;
  min-height: 100vh;display: flex;
}
.all{
  width: 100%;
  min-height: 100vh;
  background-image: url(/bgg.png);
  background-attachment: fixed;
  
}
.home{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home h1 {
  color: white;
  font-size: 1000%;
}
.home p{
  margin-top: 2rem;
  color: white;
  font-size: 150%;
}
.chpt1{
  padding: 2rem;
  width: 50%;
  font-size: 170%;
  
}
.chpt1 h1{
  color: #36405e;
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.chpt1 p{
  padding: 2rem;
  border-radius: 1rem;
  background-color: #36405e;
  color: white;
  text-align: justify;
}
@media (max-width: 1600px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .all{
    width: 100%;
    min-height: 100vh;
    background-image: url(/bgg__sm_00000.png);
    background-size: cover;
    background-attachment: fixed;
    
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #36405e;
    height: 100vh;
    width: 75%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: rgb(0, 0, 0);
  }

}
footer{
  min-height: 7vh;
  background-color: #36405e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  color: white;
}
@media(max-width: 600px){
  .chpt1{
    padding: 2rem;
    width: 50%;
    font-size: 130%;
    
  }
  .chpt1 img{
    display: none;
  }
  .chpt1 h1{
    color: #36405e;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .chpt1 p{
    width: 20rem;
    text-align: left;
  }
  #chpt1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
  #chpt2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
  #chpt3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
  #chpt4{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
  #chpt5{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
  #chpt6{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border-bottom: 5px solid #36405e;
  }
}
